.container{
    display: flex;
    flex-direction: row;
    text-align: left;

    /*Variable depending on width*/
    padding: 10px;

    width: 100%;
    background-color: black;
    border-radius: 5px;
    justify-content: space-between;
}

.container div{
    display: flex;
    flex-direction: column;

}

.container h3{
    color:greenyellow;

}

.container p{
    font-style: italic;
    color: white;

}

.button{
    color: lightgreen;
    background-color: black;
    border-style: hidden;

    /*Variable depending on width*/
    font-size: 2rem;
}